body {
    background: black;
}

.poster {
    max-width: 100%;
}

.overview {
    line-height: 1.3;
}

.stats {
    display: flex;
    line-height: 1.8;;

    .label {
        width: 150px;
        font-size: large;
    }

    .value {
        color: goldenrod;
        font-weight: 600;
        font-size: large;
    }
}