<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img src="https://image.tmdb.org/t/p/w500/kqjL17yufvn90VLyXYpvtyrFfak.jpg" alt="">
        </div>
        <div>
            <div class="slide-pane">
                <h2 class="movie-name">The Addams Family</h2>
                <div class="meta">
                    <div class="info">
                        <span class="rating bi bi-star-fill">
                            <span>stars</span> | 
                            <span class="rating-value">7.6</span> | 
                            <span>480 Reviews</span> | 
                            <span>2021</span>
                        </span>
                    </div>
                </div>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ut iste sapiente laudantium vitae magni eaque eum reprehenderit eveniet hic.
                </div>
            </div>
        </div>
    </div>
</div>