<a class="movie-item my-2" *ngIf="itemData" [routerLink]="'/movie-details/'+itemData.id">
    <div class="movie-item-rating bg-dark">
        <i class="bi bi-star-fill app-icon"></i>
        <span>{{itemData.vote_average}}</span>/10
    </div>
    <div class="movie-item-image">
        <img [src]="imagesSizes.medium + itemData.poster_path" [alt]="itemData.title">
    </div>
    <div class="movie-item-title fw-bold m-2">
        {{itemData.title}}
    </div>
    <div class="movie-item-title fw-bold m-2">
        {{itemData.name}}
    </div>
</a>