<app-slider *ngIf="series" [items]="[series]" [isBanner] = "true"></app-slider>
<p-tabView>
    <p-tabPanel header="Overview">
        <div class="row">
            <div class="col col-md-3 col-lg-3">
                <img class="poster" [src]="imagesSizes.medium + series!.poster_path" alt="movie.title">
            </div>
            <div class="col col-md-9 col-lg-9">
                <h2>
                    Overview
                </h2>
                <p class="overview pb-3">{{series!.overview}}</p>
                
                <div class="stats">
                    <div class="label">
                        Language: 
                    </div>
                    <div class="value">
                        {{series!.original_language | uppercase}}
                    </div>
                </div>
                <div class="stats">
                    <div class="label">
                        Genre: 
                    </div>
                    <div class="value">
                        <span *ngFor="let genre of series!.genres">
                            {{genre.name}} |
                        </span>
                    </div>
                </div>

                
                <div class="stats">
                    <div class="label">
                        Produced By: 
                    </div>
                    <div class="value">
                        <span *ngFor="let company of series!.production_companies">
                            {{company.name}} |
                        </span>
                    </div>
                </div>
                <div class="stats">
                    <div class="label">
                        Status: 
                    </div>
                    <div class="value">
                        {{series!.status}}
                    </div>
                </div>
                
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
        <div class="row">
            <ng-container  *ngFor="let seriesVideo of seriesVideos">
                <div class="col-12 col-md-6 col-lg-6 py-3 px-5">
                    <app-video-embeded [key]="seriesVideo.key" [site]="seriesVideo.site"></app-video-embeded>
                </div>
                
            </ng-container>
        </div>
        
        
        
    </p-tabPanel>
    
</p-tabView>