<h2 class="text-white mx-4">Trending Movies</h2>
<div class=" px-5 m-2 row text-white">
    <div class="col">
        <app-movie-item></app-movie-item>
    </div>
    <div class="col">
        <app-movie-item></app-movie-item>
    </div>
    <div class="col">
        <app-movie-item></app-movie-item>
    </div>
    <div class="col">
        <app-movie-item></app-movie-item>
    </div>
    <div class="col">
        <app-movie-item></app-movie-item>
    </div>
    <div class="col">
        <app-movie-item></app-movie-item>
    </div>
</div>